body{
    margin:0;
}

/* JOY */
/* PROPERTY SECTION */
#best{
    background-color: red;
    padding: 2% 2% 2% 5%;
}
#best h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    /* font-weight: 300; */
    
}
#best h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 800;
}