body{
    margin:0;
}

/* JOY */
/* PROPERTY SECTION */
#best{
    background-color: red;
    padding: 2% 2% 2% 5%;
}
#best h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    /* font-weight: 300; */
    
}
#best h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 800;
}




/* francis styling */
.card{
    display: grid;
    grid-template-columns: 30vw;
    grid-template-rows: 12vw 12vw 8vw;
    grid-template-areas: "image" "text" "stats";

    font-family: roboto;
    border-radius: 3vw;
    background: burlywood;
    box-shadow: 5vw 5vw 5vw rgba(0, 0, 0, 0.9);
    text-align: center;
}
.card-image{
    grid-area: image;
    background: url("../pic/house-1867187_1920.jpg");
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    background-size: cover;
}
.card-text{
    grid-area: text;
    margin: 2vw;
}
.card-text .date{
    color: rgb(255, 7, 110);
    font-size: 7vw;
}
.card-text p{
    color: grey;
    font-size: 1vw;
    font-weight: 100;
}
.card-stats{
    grid-area: stats;
}