body{
    background-color: red;
}
p{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
h2{
    text-align: center;
}
<<<<<<< HEAD
h3{
    font-size: large;
}
=======
>>>>>>> a196196c7389d6bf0de6739d5ef3935d68b54df1
