/* body{
    background-color: red;
}
p{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
h2{
    text-align: center;
} */

#about{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-us{
    background-color:#d7ebf4 ;
}