body{
    margin: 0;
    left: 0;
    top:0;
    cursor: pointer;
   
   
}

.header{
    display: flex;
   
}
#map {
     height: 40vw;
    width: 50%; 
}
.title{
    display: flex;
    justify-content: space-between;
}
.title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vw;
}
.row{
    margin: 0%;
    width: 50%;
    display: flex;
    flex-direction: column; 
    /* background-color: #213E44; */
}
#btn-home{
   background-color: #213E44;
   border: none;
   color: #fff;
   
}
#house,#house2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
#house2{
    margin-top:5%;

}
#house .col:nth-child(2),#house2 .col:nth-child(2){
    margin-left: 2%;
}
#describe{
    font-size: 1vw;
    display: block;
    text-align: center;
    background-color: #D7EBF4;
    padding: 2%;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
#house2 .col img,#house .col img {
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
}
/* row2 */
.other{
    font-size: 2vw;
}
.apart{
    display: flex;
    width: 100%;
   
    
    
}
.apart img{
width: 90%;
height: 90%;
border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;

}
#describe2{
    font-size: 1vw;
    display: block;
    width: 90%;
    text-align: center;
    background-color: #D7EBF4;
    padding: 2%;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
/* nav */
.nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
#list{
    width: 50%;
    background-image: url(../images/apartment2.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#navlist {
    display: flex;
    list-style: none;
    float: right;
   
    
}
#navlist li{
   margin: 2vw;
}