body{
    margin: 0;
    left: 0;
    top:0;
    cursor: pointer;
}

.header{
    display: flex;
   
}
#map {
     height: 40vw;
    width: 50%; 
}
.title h1{
    font-family: 'Poppins', sans-serif;
}
.row{
    margin: 0%;
    width: 50%;
    display: flex;
    flex-direction: column; 
    background-color: #213E44;
}

#house,#house2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
#house2{
    margin-top:5%;

}
#house .col:nth-child(2),#house2 .col:nth-child(2){
    margin-left: 2%;
}
#describe{
    font-size: 1vw;
    display: block;
    text-align: center;
    background-color: #D7EBF4;
    padding: 2%;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
#house2 .col img,#house .col img {
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
}
